.input {
  background-color: var(--special-bg-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;

  input {
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
    color: #454545;
    padding: 0rem 1rem;
  }

  i {
    background: var(--light-surface);
    color: var(--gray);
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
  }
}
