<div class="container">
  <h2>Enter a city name, code or country</h2>
  <app-search (textChange)="search($event)"></app-search>
  <div class="sep"></div>
  <div
    class="results"
    *ngIf="weatherInformations.length > 0 && loading == false"
  >
    <a
      *ngFor="let winf of weatherInformations"
      [routerLink]="['informations', winf.id]"
      [relativeTo]="null"
    >
      <div class="card">
        <p>Name: {{ winf.name }}</p>
        <div class="informations">
          <p>Temperature: {{ winf.main.temp }} F</p>
          <p>Max temperature: {{ winf.main.temp_max }} F</p>
          <p>Min temperature: {{ winf.main.temp_min }} F</p>
          <p>pressure: {{ winf.main.pressure }} Pa</p>
          <p>humidity: {{ winf.main.humidity }} g.m^3</p>
        </div>
      </div>
    </a>
  </div>
  <div class="spinner-container" *ngIf="loading == true">
    <div class="spinner"></div>
  </div>

  <div *ngIf="weatherInformations.length == 0 && loading == false">
    There's no results
  </div>
</div>
